<?xml version ="1.0"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">

    <joint name = "lidar_joint" type = "fixed">
        <parent link = "body_link"/>
        <child link = "lidar_link"/>
        <origin xyz = "0 0 ${s1 + h/2 + 0.05}" rpy = "0 0 0"/>
    </joint>

    <link name = "lidar_link">
        <visual>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <geometry>
                <cylinder radius = "${d}" length = "${d}"/>
            </geometry>
            <material name = "gray" />

        </visual>
        <collision>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <geometry>
                <cylinder radius = "${d}" length = "${d}"/>
            </geometry>
        </collision>
    </link>
</robot>